header{
  text-align: center;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  
}

.heading{
  text-align: center;
}

h2{
  text-align: center;
  font-weight: bolder;
  font-size: 30px; 
  color: white;
  background-color: #006699;
  display: inline-block;
  
}
th{
  background-color: #00aaff;
  color: white;
}
body{
  background-color: #e6f7ff;
  font-family: sans serif;
}

table{
  border: 2px solid #00aaff;
  margin: 0 auto;
  width: 650px;
}
.tag{
  background-color: white;
  font-family: monospace;
}
td{
  border-top: 1px solid #00aaff;
  border-right: 1px solid #00aaff;
}
